body {
    background-color: grey;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.blocks {
    display: flex;
}

.block {
    flex : 1;
    border: 1px solid grey;
    padding:  1em;
    margin:  1em;
    border-radius: 1em;
}

.heading {
    display: flex;
}

.message {
    background-color: bisque;
    padding: 1em;
    margin-bottom: 1em;
}

.input>label {
    display: inline-block;
    width: 10em;
    padding: 0.5em;
    font-weight: bold;
    font-family: cursive;
}

.input>input[type="text"] {
    padding: 0.5em;
    margin: 0.5em;   
}

.widget {
    flex: 1;
    border: 1px solid rgb(122, 228, 255);
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

.widgets {
    display: flex;
}

.widgets-2 {
    display: flex;
}

@media (max-width: 768px) {
    .mobile-style {
      /* Styles for mobile devices */
    }
  }
  